.item{
    width:20%;
    border:1px solid black;
    display:flex;
    border-radius:19px;
    background-color: rgba(235, 247, 247, 0.808);
    margin:1% 0%;
    .checkbox{
        // border:1px solid black;
        width:10%;
        overflow:none;
        border-radius:12px 0px 0px 12px;
        
    }
    .contentContainer{
        flex-basis:90%;
        h3{
            margin: 3%;
            color:#fff;
        }
    }
   
 
}